@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$web-font-path : false;

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
@import "bootswatch/dist/flatly/_variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/flatly/_bootswatch";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.content {
  flex: 1;
}


